.wagon {
  border: 1px solid #5b5b5b;
  background: #b1b1b1;
  width: 100px;
  height: 100%;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.wagon_full {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.wagon__number {
  font-size: 10px;
  margin: 0;
  line-height: 10px;
}

.wagon__full_active {
  border: 1px dashed #e32213;
  border-radius: 4px;
  background: #fcb53b5f;
}